<a href="http://localhost:3000/instructors" >View All Instructors </a>    -
<a href="http://localhost:3000/gyms" >View All Climbing Gyms</a>

<h1>List of Climbing Gyms:</h1>
<a href="http://localhost:3000/gyms_forms/new" >Add New Climbing Gym</a>


<ol>
  <ls>
    <% @gyms_by_newest.each do |gym| %>
      <h1>_______________________________________________________</h1>

      <h3><%= gym.name %></h3>
      <h4><%= gym.created_at %></h4>
      <p>Hours: <%= gym.opening_time%> - <%=gym.closing_time %><p>

    <% end %>
  </ls>
<ol>
